@import "ele";

html, body, input, textarea, p {
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  padding: 0;
  font-size: $--font-size-base;
  margin: 0;
}
