$--border-radius-base: 0;
$--border-radius-small: 0;
$--border-radius-circle: 0;
$--border-radius-small: 0;
$--header-padding: 0;
$--color-primary: #3c8dbc;
$--font-size-base: 12px;
$--size-base: 12px;
$--pagination-border-radius: 0px;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
.el-form-item__content button {
  margin-left: 0 !important;
}

.el-form-item__label {
  font-size: $--font-size-base !important;
}

.el-checkbox__label {
  font-size: $--font-size-base !important;
}
