$--border-radius-base: 0;
$--border-radius-small: 0;
$--border-radius-circle: 0;
$--border-radius-small: 0;
$--header-padding: 0;
$--color-primary: #3c8dbc;
$--font-size-base: 12px;
$--size-base: 12px;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
