.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 100%;
  padding-top: 50px;
  overflow-y: auto;
  background-color: #424f63;
  .nav-menu {
    background-color: #424f63;
    border-right: 0;
    .nav-menu-item, .el-submenu__title {
      height: 45px;
      line-height: 45px;
      color: #fff;
      font-size: 12px;
      background-color: #424f63;
      .icon {
        width: 16px;
        font-size: 14px;
        color: #fff;
      }
      .text {
        margin-left: 10px;
      }
      &.is-active, &:hover {
        background-color: #353f4f !important;
        color: #2386bc;
      }
    }
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: inherit;
  width: 100%;
  height: 50px;
  background-color: #3c8dbc;
  z-index: 100;
  .banner-text {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 220px;
    font-weight: 300;
    overflow: hidden;
    color: #fff;
    background-color: #367fa9;
  }
  .topbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 220px;
    border: none;
    min-height: 50px;
    line-height: 50px;
    border-radius: 0;
    .topbar-toggle {
      float: left;
      background: transparent none;
      padding: 0 15px;
      font-family: fontAwesome;
      .icon {
        color: #fff;
      }
      &:hover {
        background-color: #367fa9;
        color: #f6f6f6;
      }
    }
  }
}

.main-body {
  position: relative;
  margin-left: 220px;
  padding: 15px;
  z-index: 800;
  transition: transform .3s ease-in-out, margin .3s ease-in-out;
  display: block;
  margin-top: 50px;
}
